<div
	style="margin: auto; min-height: 100px; height: 100px; width: 990px; position: relative;"
	class="wsb-canvas-page-footer footer" id="wsb-canvas-template-footer">
	<div style="position: absolute" class="footer-container"
		id="wsb-canvas-template-footer-container">
		<div class="wsb-element-navigation"
			id="wsb-element-00000000-0000-0000-0000-000688259870">
			<div id="wsb-nav-00000000-0000-0000-0000-000688259870"
				class="wsb-nav nav_footer nav-text-center nav-horizontal nav-btn-left wsb-navigation-rendered-top-level-container"
				style="width: 404px; height: 22px;">
				<style>
#wsb-nav-00000000-0000-0000-0000-000688259870.wsb-navigation-rendered-top-level-container ul
	&gt;li:hover,#wsb-nav-00000000-0000-0000-0000-000688259870.wsb-navigation-rendered-top-level-container ul
	&gt;li:hover &gt;a,#wsb-nav-00000000-0000-0000-0000-000688259870.wsb-navigation-rendered-top-level-container ul
	&gt;li.active:hover,#wsb-nav-00000000-0000-0000-0000-000688259870.wsb-navigation-rendered-top-level-container ul
	&gt;li.active &gt;a:hover,#wsb-nav-00000000-0000-0000-0000-000688259870.wsb-navigation-rendered-top-level-container ul
	&gt;li.active .nav-subnav li:hover,#wsb-nav-00000000-0000-0000-0000-000688259870.wsb-navigation-rendered-top-level-container ul
	&gt;li.active .nav-subnav li:hover &gt;a {
	background-color: !important;
	color: !important;
}
</style>
				<ul class="wsb-navigation-rendered-top-level-menu ">
					<li class="active" style="width: auto"><a data-url="home.html"
						data-pageid="00000000-0000-0000-0000-000003144684"
						data-title="Home" target="" href="home.html">Home</a></li>
					<li style="width: auto"><a data-url="about-us.html"
						data-pageid="00000000-0000-0000-0000-000003147595"
						data-title="About Us" target="" href="about-us.html">About Us</a></li>
					<li style="width: auto"><a data-url="my-videos.html"
						data-pageid="00000000-0000-0000-0000-000688264653"
						data-title="My Videos" target="" href="/loginuser">My
							Videos</a></li>
					<li style="width: auto"><a data-url="login.html"
						data-pageid="00000000-0000-0000-0000-000688268345"
						data-title="Login" target="" href="/loginuser">Login</a></li>
					<li style="width: auto"><a data-url="upload-videos.html"
						data-pageid="00000000-0000-0000-0000-000688284825"
						data-title="Upload Videos" target="" href="/uploadform">Upload
							Videos</a></li>
					<li style="width: auto"><a data-url="/logout"
						data-pageid="00000000-0000-0000-0000-000693316449"
						data-title="Logout" target="" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="wsb-element-line"
			id="wsb-element-00000000-0000-0000-0000-000688259869">
			<div
				style="width: 915px; height: 20px; width: 915px; border-top: 1px solid #262626; opacity: 1; filter: alpha(opacity = 1);"
				class="wsb-line-element"></div>
		</div>
	</div>
</div>