<ul class="wsb-navigation-rendered-top-level-menu ">
								<li style="width: auto" class="active"><a href="/"
									target="" data-title="Home"
									data-pageid="00000000-0000-0000-0000-000003144684"
									data-url="home.html">Home</a></li>
								<li style="width: auto"><a href="/loginuser" target=""
									data-title="My Videos"
									data-pageid="00000000-0000-0000-0000-000688264653"
									data-url="/loginuser">My Videos</a></li>
								<li style="width: auto"><a href="/uploadform"
									target="" data-title="Upload Videos"
									data-pageid="00000000-0000-0000-0000-000688284825"
									data-url="/uploadform">Upload Videos</a></li>
								<!-- <li style="width: auto"><a href="/registeruser" target=""
									data-title="Sign Up"
									data-pageid="00000000-0000-0000-0000-000003147606"
									data-url="/registeruser">Sign Up</a></li>
								<li style="width: auto"><a href="/loginuser" target=""
									data-title="Login"
									data-pageid="00000000-0000-0000-0000-000688268345"
									data-url="/loginuser">Login</a></li>
								<li style="width: auto"><a href="/logout" target=""
									data-title="Logout"
									data-pageid="00000000-0000-0000-0000-000693316449"
									data-url="/logout">Logout</a></li> -->
							</ul>